.box {
    width: 62px;
    height: 62px;
    border: 1px;
    border-color: black;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
}

.lightBlue {
    background-color: lightblue;
}

.darkBlue {
    background-color: darkblue;
}

.nextLine{
    float: left;
}
.stopNextLine{
    clear: both;
}